<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medrano Store</title>
    <link rel="stylesheet" href="css1H.css">
    <style>
    </style>
</head>
<body>

    <main>
        <header id="header" class="header">
            <nav class="navegacion">
                <figure>
                    <a href="Home.html" ></a>
                </figure>
                <ul class="menu">
                    <div class="busador">
                        
                    </div>
                    <li>
                        <a href="Home.html">Home</a>
                    </li>
                    <li>
                        <a href="Login">Ingresar</a>
                    </li>
                    <li>
                        <a href="Registro">Registrarse</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="fondo">

        </section>
</body>
</html>