<!DOCTYPE html>
<html>
                    <title>Bienvenidos</title>
    <head>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">

            <link rel = "stylesheet" type = "text/css" href="/css/styles.css">      <!-- ACA UNO MI HTML JUNTO CSS-->
        
            <link rel = "stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    </head>
    
    <body>

        <main>
            <header id="header" class="header">
                <nav class="navegacion">
                    <figure>
                        <a href="Login.html" ></a>
                    </figure>
                    <ul class="menu">
                        <div class="buscador">
                        </div>
                        <li>
                            <a href="Home.html">Home</a>
                        </li>
                        <li>
                            <a href="Login.html">Ingresar</a>
                        </li>
                        <li>
                            <a href="Registro.html">Registrarse</a>
                        </li>
                    </ul>
                </nav>
            </header>
                   
        <section>

            <div class="form-register">

                <h4>Medrano Store</h4>

                <form action="" method="POST">
                 <label for="nombre"></label>
                                                 
                <input class="controls animable-a" type="text" type="email" type="number" name="usuario" placeholder="telefono usuario o correo electronico" id="nombre"/>
                <br>      

                <input class="controls animable-b" type="password" name="clave" placeholder="password" />
                <br>
                                                              
                <button class="bottons animable" type="submit">iniciar sesion</button>  

                <button class="botton animable1" type="reset"> Reiniciar </button>
                <br>
                
                <div class="div1">
                    <h5><a href="#">¿Olvidaste la contraseña?</a></h5>
                </div>

                <br>
                <p>¿No tienescuenta? <a href="Registro.html">Registrate</a></p>      
                
                </form>

            </div>
            
        </section>    
            
      </body>
        

</html>

