<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medrano Store</title>
    <link rel="stylesheet" href="style-register.css">
    <style>
    </style>
</head>
<body>

    <main>
        
        <section class="fondo">

        </section>
        
        <section>

            <div class="form-register">

                <h4>Formulario Registro </h4>

                <form action="" method="POST">
                 <label for="nombre"></label>
                                                 
                <input class="controls animable-a" type="text" name="usuario" placeholder="nombre" id="nombre"/>
                <br>
          

                <input class="controls animable-b" type="text" name="usuario" placeholder="apellido" id="nombre"/>
                <br>
                        
                <input class="controls animable-c" type="email" name="email" placeholder="email" required/>
                <br>

                <input class="controls animable-d" type="password" name="clave" placeholder="password" />
                <br>
                
                <div class="div1">
                    <h6 class="sincolor"> Acepto los <a href="#">terminos y condiciones</a></h6>
                </div>
                <br>
                              
                <button class="bottons animable" type="submit"> registrar </button>  

                <button class="botton animable" type="reset"> Reiniciar </button>
                <br>
                <p  class="sincolor"><a href="Login">¿Ya tengo cuenta?</a></p>
                <br>
                <p class = "centrar sincolor"><a href="Home">Home</a></p>      
                
                </form>

            </div>
            
        </section>    
</body>
</html>