<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medrano Store</title>
    <link rel="stylesheet" href="css/css1H.css">
    <style>
    </style>
</head>
<body>

    <main>
        <header id="header" class="header">
            <nav class="navegacion">
                <figure>
                    <a href="Registro.html" ></a>
                </figure>
                <ul class="menu">
                    <div class="buscador">
                    </div>
                    <li>
                        <a href="Home.html">Home</a>
                    </li>
                    <li>
                        <a href="Login.html">Ingresar</a>
                    </li>
                    <li>
                        <a href="Registro.html">Registrarse</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="fondo">

        </section>
        
        <section>

            <div class="form-register">

                <h4>Formulario Registro </h4>

                <form action="" method="POST">
                 <label for="nombre"></label>
                                                 
                <input class="controls animable-a" type="text" name="usuario" placeholder="nombre" id="nombre"/>
                <br>
          

                <input class="controls animable-b" type="text" name="usuario" placeholder="apellido" id="nombre"/>
                <br>
                        
                <input class="controls animable-c" type="email" name="email" placeholder="email" required/>
                <br>

                <input class="controls animable-d" type="password" name="clave" placeholder="password" />
                <br>
                
                <div class="div1">
                    <h6> Acepto los <a href="#">terminos y condiciones</a></h6>
                </div>
                <br>
                              
                <button class="bottons animable" type="submit"> registrar </button>  

                <button class="botton animable" type="reset"> Reiniciar </button>
                <br>
                <p><a href="#">¿Ya tengo cuenta?</a></p>      
                
                </form>

            </div>
            
        </section>    
</body>
</html>