
/*header*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url();
    background-color: #ffe6bc;}
li{
    list-style-type: none;
    text-decoration: none;}
a{
    text-decoration: none;}
.menu{
    display: flex;
    padding-top: 10px;}
.menu li a{
    padding: 15px;
    color: black;}
.menu li a:hover{
    text-decoration: underline;
    color: #8e806a;}

.navegacion{
    display: flex; 
    justify-content: space-between;
    background-color: #d3e4cd;
    font-size: 15px;
    background-color: #ffe6bc;
    border: dotted 2px #8e806a;
    border-radius: 3px;}

.espaciodefrase{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #c3b091;
    border-radius: 3px;}

/* titulo medrano */
.titular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #6f796f;
    text-align: center;
    margin: auto;
    width: 100%;}
.headlines{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;}
.estilofrase{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 4px;
}
/* Articulos */

.articulos{
    background-color: #8e806a;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 10px #6f796f;
    border-radius: 3px;}
.articulos #artconj1, #artconj2, #artvest, #arttop {
    background-color: #d3e4cd;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #6f796f;
    align-items: flex-end;}

.img{
    vertical-align: middle;
    border-style: none;
    width: 90%;
    box-shadow: 0px 0px 10px #6f796f;
    padding: 7px;
    background-color: #ffe6bc;}
.recprecios{
    display: flex;
    background-color: #e4cda7;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: justify;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #6f796f;
    background-color: #ffe6bc;}
.prices{
    font-size: 20px;
    padding-left: 18px;
    color: #666;}
.offer{
    color:#39b54a;
    margin:10px;
    font-size:15px;}
.description{
    padding-left: 15px;
    color: #666;}



    /*footer*/

.footer{
    display: flex;}
.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: center;}
.footer h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    text-align: center;}
.centrar{text-align: center;
    padding:5px;}
.coloriconoS{
    color:#1259c3;
    font-size: 20px;
    margin-block-end: 10px;}
.cuerpodetexto{
    font-family: Arial, Helvetica, sans-serif;
    color:#6f796f;}

/*medidas para breackpoint (0px hasta 480px es un celuu)*/

@media(min-width:481px){
    .titular{
        font-size: 30px;
    }
    .articulos{
        background-color: #8e806a;
        flex-direction: inherit;
        box-shadow:none;
        flex-wrap: nowrap;
        padding: 10px;
    }
    .recprecios{
        padding: 2px;
        width: 100%;
    }
    .recpreciospapu{
        padding: 15px;
    }
    .artconj1{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .artconj2{
        display: flex;
        flex-direction: column;
        width: 30%; 
    }
    .artconj3{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
    .artconj4{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
    .espaciodefrase{
        font-size: 20px;
    }
    .estilofrase{
        font-size: 28px;
        padding-left: 25px;
    }
    
}
