
/*header*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url();}
li{
    list-style-type: none;
    text-decoration: none;}
a{
    text-decoration: none;}
.menu{
    display: flex;
    padding-top: 10px;}
.menu li a{
    padding: 15px;
    color: #6f796f;}
.menu li a:hover{
    text-decoration: underline;
    color: #d3e4cd;}

.navegacion{
    display: flex; 
    justify-content: space-between;
    background-color: #d3e4cd;
    font-size: 15px;}
.espaciodefrase{
    display: flex;
    
    width: 100%;
    border-top: dotted 2px white;
    align-items: center;
    background-color: #d3e4cd;}

/* titulo medrano */
.titular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #6f796f;
    text-align: center;
    margin: auto;
    width: 100%;}
.headlines{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;}

/* Articulos */

.articulos{
    background-color: #d3e4cd;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 10px #6f796f;}
.articulos #artconj1, #artconj2, #artvest, #arttop {
    background-color: #d3e4cd;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #6f796f;
    align-items: flex-end;}
.img{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    box-shadow: 0px 0px 10px #6f796f;}
.recprecios{
    display: flex;
    background-color: #d3e4cd;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: justify;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #6f796f;}
.prices{
    padding-left: 18px;
    color: #666;}
.offer{
    margin-left: 70px;
    color:#39b54a;}
.description{
    padding-left: 5px;
    color: #666;}



    /*footer*/

.footer{
    display: flex;}
.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: center;}
.footer h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    text-align: center;}
.centrar{text-align: center;
    padding:5px;}
.coloriconoS{
    color:#1259c3;
    font-size: 20px;
    margin-block-end: 10px;}
.cuerpodetexto{
    font-family: Arial, Helvetica, sans-serif;
    color:#6f796f;}

/*medidas para breackpoint (0px hasta 480px es un celuu)*/

@media(min-width:){}
@media(max-width:){}