html {
  background-color: #8e806a;
}
.titulo {
  font-size: 80px;
  text-align: center;
  font-family: arial;
  background-color: #c3b091;
  color: white;
}
#formulario1 {
  text-align: center;
  font-size: 15px;
  font-family: arial;
}
