
html{
    background-color: #8E806A;
}
.titulo{
    font-size:80px;
    text-align:center;
    font-family:arial;
    background-color: #C3B091;
    color:white;
}
#formulario1{
    text-align: center;
    font-size:15px;
    font-family:arial;

}
