<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="css/normalize.css" rel="stylesheet" />

    <link rel = "stylesheet" type = "text/css" href="/css/style.css">
      <!--Uno mi css-->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"crossorigin="anonymous"></link>
    
    
    <title>Medrano Store</title>
  </head>
  <body>
    <h5>
      <marquee>
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
        <i class="fas fa-dot-circle" _mstvisible="2"></i>
      </marquee>
    </h5>
    <header>
      
     <img  id="logo" src="videos/logo.gif">
     <nav  id="searchform">
        <input type="text" id="searchterm" placeholder="Buscar Productos..."> <button type="button" id="search"><i class="fas fa-search"></i></button>
      
    </nav>

      

        <section id="Atencion">
          <a href="Ayuda"><i class="fas fa-question-circle"></i></a>
          
          <a href="Carrito"><i class="fas fa-shopping-cart"></i></a>
        </section>

        <nav class="Inscrip">

          <a href="Registro"><input type="button" value="Registro" /></a>
          <a href="Login"><input type="button" value="Iniciar Sesion"><a>
              
          </nav>
    
    </header>
    <h1>Medrano Store</h1> 
    
    <!--Fotos de la pagina-->
    

    <div class="portada">
      <a href="/Carrito">
        <img 
         width="400"
         height="400"
         src="images\WhatsApp Image 2021-12-12 at 13.33.41 (2).jpeg"/></a>
        
     </div>
     <p class="subtitulo">El mejor estilo al mejor precio</p>

    <article>
      
  <a  id="fotos" href="/Carrito">
    <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.41 (1).jpeg">

        <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Vestido Formal Para Mujer.El vestido color negro mas lindo del mercado</p>
          <p class="select"><button> select</button></p></a>
      </a>
      
        <a id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.43.jpeg">
        
        <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Pantaloneta y Esqueleto Para Mujer. Perfecto para un dia tranquilo en tu hogar</p>
          <p class="select"><button> select</button></p></a>
      
      <a  id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.43 (2).jpeg">
        <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Vestido Blanco Para Mujer. Hecho por los mejores diseñadores para ti</p>
          <p class="select"><button> select</button></p></a>
      
      <a id="fotos"href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\Productos.jpg">  <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Esqueleto Marron Para Mujer. Facil de combinar con tus Pantalones o Pantalonetas</p>
        <p class="select"><button> select</button></p></a>
      
      <a id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.41.jpeg"> 
        <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Vestido color azul oscuro con brillos para tu gusto.Llevalo</p>
          <p class="select"><button> select</button></p></a>

        <a id="fotos" href="/Carrito">

          
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.40.jpeg"> <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Top Azul y Falda Negra Para Mujer. Llevalas juntas al mejor precio, No te arrepentiras</p>
          <p class="select"><button> select</button></p></a>
      <a id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.42 (1).jpeg">  <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Pantalon color beige para mujer, Lleva un pantalon tipo jogger, de lo mas comodo</p>
          
          <p class="select"><button> select</button></p></a>
      
      <a id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.42.jpeg"> <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion"> Esqueleto para mujer color Blanco. Perfecto ya que es facil de combinar con tu ropa favorita</p>
          <p class="select"><button> select</button></p></a>
        
        <a id="fotos" href="/Carrito">
        <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.39.jpeg"> <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Camiasas tipo polo para mujer. Escoge tu favorita y llevala sin compromisos</p>
          <p class="select"><button> select</button></p></a>
      
      <a id="fotos" href="/Carrito">
      <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\Productos2.jpg">  <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
           <p id="descripcion">Esqueleto, pantaloneta y chanclas, una perfecta combinacion para salir de viaje</p>
           <p class="select"><button> select</button></p></a>
        </a>
        <a id="fotos" href="/Carrito">
        <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\WhatsApp Image 2021-12-12 at 13.33.43 (1).jpeg"> <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Esqueletos para mujeres. Muy comodos y lindos, facil de combinar, no dudes en comprarlo</p>
          <p class="select"><button> select</button></p></a>

        <a id="fotos" href="/Carrito">
        <img
        class="Imagenes"
        width="200"
        height="200"
        src="images\Productos1.jpg">  <section class="detalles">
          <span id="marca">Marca: Medrano.</span></section>
          <p id="descripcion">Pantaloneta y Esqueleto. perfectos para esos dias soleados, estaras muy comoda</p>
          <p class="select"><button> select</button></p></a>
    </article>
    
    <footer>
    <h3 class="pagos" >Puedes realizar tus pagos de manera vitual o contraentrega.  <span>   </span><i class="fas fa-dollar-sign"></i></h3>
    Nuetra tienda de ropa te facilita al momento de comprar, tener cuotas sin intereses, ademas despues de cada compra acumulas puntos para tu siguiente compra y simpre estaras seguro con nosotros.
    <h3 class="Envios" >Tus envios seran gratis a nivel nacional despues de compras mayores a 70.000 <span>   </span><i class="fas fa-shipping-fast"></i></h3>
    Tu primero compra incluira envios gratis en cualquier producto que elijas comprar, sin importar la cantidad de Productosque desees llevar contigo.
    <h3 class="Seguridad" >  Estaras seguro desde principo a fin <span>   </span><i class="fas fa-dollar-sign"></i></h3>
    Puedes estar tranquilo con tus compras, ya que nuestros productos cuentan con garantia de 3 meses cada uno, si por algun motivo tienes problemas con los envios se te devolvera el dinero.
    <h3 class="Contacto" >Contactanos <span>   </span><i class="fas fa-phone-square-alt"></i></h3>
    A Continuacion encontraras nuestro WhatsApp y nuestro instagram por si llegas a tener alguna duda.
    <nav class="enlaces"></nav>
    <span>
      <a id="redes" href="https://www.instagram.com/?hl=es">instagram</a>
       <a id="redes" href="https://web.whatsapp.com/">WhatsApp</a>
    </span>
    </footer>
    
    
  </body>
</html>
