<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medrano Store</title>

    <link href="css/normalize.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="/public/css/css1H.css">
    <!--Uno mi css-->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"
        crossorigin="anonymous">
    </link>

    <script src="https://kit.fontawesome.com/9b9890c892.js" crossorigin="anonymous"></script>
    <!--libreria iconos-->

    <style>
    </style>
</head>

<body>

    <main>
        <header id="header" class="header">
            <nav class="navegacion">

                <figure class="Logo">
                    <div>
                        <p class="Log">Medrano Store</p>
                    </div>
                </figure>

                <ul class="menu">

                    <li>
                        <a href="Login">Ingresar</a>
                    </li>
                    <li>
                        <a href="Registro">Registrarse</a>
                    </li>
                    <br>
                    <li>
                        <a href="Carrito">Compras</a>
                    </li>
                </ul>

            </nav>
        </header>

        <div class="espaciodefrase">

            <p>Ten la libertad de usar lo que te haga sentir</p>
            <p class="estilofrase">Unica!!</p>

        </div>

        <main class="main-conteiner">

            <div class="headlines">

                <p class="titular">Nuestros Productos</p>
                <br>

            </div>

            <div class="articulos">

                <div class="artconj1">


                    <div class="imagpapu">

                        <img src="/images/Productos1.jpg" class="img">

                    </div>

                    <div class="recpreciospapu">

                        <div class="recprecios">

                            <p class="prices">$950</p>
                            <p class="offer">15% OFF</p>
                            <p class="description">Conjunto Velvet</p>

                        </div>
                        <div class="recprecios">
                            <a href="Detalleproduc">ver mas</a>
                        </div>
                    </div>

                </div>


                <div class="artconj2">

                    <div class="imagpapu">

                        <img src="/images/Productos2.jpg" class="img">

                    </div>

                    <div class="recpreciospapu">

                        <div class="recprecios">

                            <p class="prices">$950</p>
                            <p class="offer">15% OFF</p>
                            <p class="description">Conjunto Velvet</p>

                        </div>
                        <div class="recprecios">
                            <a href="Detalleproduc">ver mas</a>
                        </div>
                    </div>

                </div>

                <div class="artconj3">

                    <div class="imagpapu">

                        <img src="/images/Productos.jpg" class="img">

                    </div>

                    <div class="recpreciospapu">

                        <div class="recprecios">

                            <p class="prices">$2500</p>
                            <p class="offer">10% OFF</p>
                            <p class="description">Remera Sofi</p>

                        </div>
                        <div class="recprecios">
                            <a href="Detalleproduc">ver mas</a>
                        </div>
                    </div>

                </div>

                <div class="artconj4">

                    <div class="imagpapu">

                        <img src="/images/WhatsApp Image 2021-12-12 at 13.33.40.jpeg" class="img">

                    </div>

                    <div class="recpreciospapu">

                        <div class="recprecios">

                            <p class="prices">$650</p>
                            <p class="offer">5% OFF</p>
                            <p class="description">Top Bando</p>

                        </div>
                        <div class="recprecios">
                            <a href="/Detalleproduc">ver mas</a>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        </section>
</body>

</html>

<!--
    <i class="fas fa-sign-in-alt"></i>
                logo de ingresar
    <i class="far fa-id-card"></i>
                logo de registro
    <i class="fas fa-shopping-basket"></i>
                logo de compras
-->