<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medrano Store</title>

    <link rel = "stylesheet" type = "text/css" href="/css/style-login.css">
    <!--Uno mi css-->
    
    <style>
    </style>
</head>
    
    <body>

        <main>
            
                   
        <section>

            <div class="form-register">

                <h4>Medrano Store</h4>


                <form action="Home" method="POST">
                 
                              <label for="usuario">Usuario </label>                   
                <input class="controls animable-a" type="text" type="email" type="number" name="usuario" placeholder="telefono usuario o correo electronico" id="nombre" required/>
                <br>      
                <label for="password">Contrase単a </label>
                <input class="controls animable-b" type="password" name="password" placeholder="password" required/>
                <br>
                                                              
                <button class="bottons animable" type="submit">iniciar sesion</button>  

                <!--<button class="botton animable1" type="reset"> Reiniciar </button> -->
                <br>
                
                <div class="div1">
                    <h5><a href="Registro">多Olvidaste la contrase単a?</a></h5>
                </div>

                <br>
                <p>多No tienes cuenta? <a href="Registro">Registrate</a></p>   
                <br>
                <a href="/Home">Home</a>    
                
                </form>

            </div>
            
        </section>    
            
      </body>
        

</html>

