<h5>
    <marquee>
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i> MEDRANO STORE
      <i class="fas fa-dot-circle" _mstvisible="2"></i>
    </marquee>
  </h5>
  <header>
    
   <img  id="logo" src="videos/logo.gif">
   <nav  id="searchform">
      <input type="text" id="searchterm" placeholder="Buscar Productos..."> <button type="button" id="search"><i class="fas fa-search"></i></button>
    
  </nav>
  



      <section id="Atencion">
        <a href="Ayuda"><i class="fas fa-question-circle"></i></a>
        
        <a href="Carrito"><i class="fas fa-shopping-cart"></i></a>
      </section>

      <nav class="Inscrip">

        <a href="Registro"><input type="button" value="Registro" /></a>
        <a href="Login"><input type="button" value="Iniciar Sesion"><a>
            
        </nav>
        </nav>
  
  </header>
  <h1>Medrano Store</h1> 